# SPDX-License-Identifier: ISC
#
# Copyright (c) 2022 Johnathan C Maudlin <jcmdln@gmail.com>
---
FormatStyle: file
HeaderFilterRegex: ""
Checks: |
  -*
  bugprone-*
  cert-*-c
  misc-*
  performance-*
  portability-*
  readability-*
  -bugprone-easily-swappable-parameters
  -misc-no-recursion
  -readability-magic-numbers
WarningsAsErrors: |
  -*
  bugprone-*
  cert-*-c
  misc-*
  performance-*
  portability-*
  readability-*
