# SPDX-License-Identifier: ISC
#
# Copyright (c) 2023 Johnathan C Maudlin <jcmdln@gmail.com>
---
FormatStyle: file
HeaderFilterRegex: ""
Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  cert-*-c,
  clang-analyzer-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  misc-*,
  -misc-no-recursion,
  performance-*,
  portability-*,
  readability-*,
  -readability-braces-around-statements,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-magic-numbers,
WarningsAsErrors: >
  -*,
  bugprone-*,
  cert-*-c,
  clang-analyzer-*,
  misc-*,
  performance-*,
  portability-*,
  readability-*,
