# SPDX-License-Identifier: ISC

# Ignore everything
*

# Include these specific files
!.clang-format
!.clang-tidy
!.clangd
!.editorconfig
!.gitignore
!LICENSE

# Allow traversing specific subdirectories
!src/

# Include '*.cpp' and '.hpp' files from included directories.
!**/*.[ch]pp

# Include these files from any included directory.
!**/*.md
!**/meson.build

# Include our GitHub Actions pipeline configuration
!.github/
!.github/workflows/
!.github/workflows/*.yml

# Include our VS Code configuration
!.vscode/
!.vscode/README.md
!.vscode/extensions.json
!.vscode/settings.json
