# Ignore everything
*

# Include these specific files
!.clang-format
!.clang-tidy
!.clangd
!.editorconfig
!.gitignore
!.prettierrc.yml
!LICENSE
!meson.build
!Makefile
!README.md

# Include specific files from specific directories
!.github/
!.github/workflows/
!.github/workflows/*.yml

!.vscode/
!.vscode/cmake-kits.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json

!docs/
!docs/**/*.md

!include/
!include/**/
!include/**/*.h

!lib/
!lib/ploy/
!lib/ploy/**/
!lib/ploy/**/*.ploy

!man/
!man/**

!source/
!source/**/
!source/**/*.c

!test/
!test/**/
!test/**/*.[ch]

!vendor/
!vendor/**/
!vendor/**/*
